body {
    margin: 0;
    overflow: hidden;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    width: 1920px;
    background-color: var(--body-background-color);
}

:root {
    /*COLORS*/
    --light-color: #a4a4a4;
    --dark-color: #494949;
    --clean-color: #757575; 

    --color-blue: #1e88e5;
    --color-red: #e53935;

    --bar-middle-top-bg-color: var(--light-color);
    --bar-middle-bot-bg-color: var(--dark-color);
    --bar-bg-color: var(--clean-color);

    --bar-blue-timer-bg-color: var(--color-blue);
    --bar-red-timer-bg-color: var(--color-red);
    --bar-blue-text-bg-color: var(--dark-color);
    --bar-red-text-bg-color: var(--dark-color);
    --bar-timer-font-color: white;

    --pick-background-color: var(--light-color);
    --pick-text-background-color: var(--dark-color);
    --ban-background-color: var(--light-color);
    --ban-text-background-color: var(--dark-color);

    
    /*--body-background-color: var(--clean-color);*/

    --bar-height: 150px;
    --bar-text-width: 660px;
    --bar-timer-width: 170px;
    --bar-middle-width: 200px;
    --bar-big-text-size: 80px;

    --bar-blue-text-margin: 0 0 0 0px;
    --bar-red-text-margin: 0 0px 0 0;

    /* --debug-color-green: rgba(0, 255, 0, 0.5); */
}

.flex-vcenter {
    display: flex;
    align-items: center;
}
.hidden {
    display: none;
}

#overlay > img {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
}

#bar {
    height: var(--bar-height);
    width: 1920px;
    position: absolute;
    display: flex;

    background-color: var(--bar-bg-color);
}

#bar .colorbar {
    width: 30px;
}

#bar .blue.colorbar{
    background-color: var(--color-blue);
}

#bar .red.colorbar{
    background-color: var(--color-red);
}

#bar .text {
    height: 100%;
    width: var(--bar-text-width);
}
#bar .text span {
    /*background-image: linear-gradient(#FFFFFF, rgb(129,129,129));*/
    background: var(--light-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bar .timer {
    height: 100%;
    width: var(--bar-timer-width);
}

#bar .blue.timer {
    background-color: var(--bar-blue-timer-bg-color);
}
#bar .red.timer {
    background-color: var(--bar-red-timer-bg-color);
}

#bar .timer span {
    /*background-image: linear-gradient(rgb(38,38,38), rgb(44,44,44));*/
    background: var(--bar-timer-font-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#bar .middle {
    height: 100%;
    width: var(--bar-middle-width);
}
#bar .middle .top {
    height: 65%;
    background-color: var(--bar-middle-top-bg-color);
}
#bar .middle .bot {
    height: 35%;
    background-color: var(--bar-middle-bot-bg-color);
}

#bar .score-text {
    display: block;
    width: 100%;
    font-size: calc(var(--bar-height) * 0.65 * 0.6);
    height: 100%;
    line-height: calc(var(--bar-height) * 0.65);
    text-align: center;

    /*background-image: linear-gradient(rgb(38,38,38), rgb(44,44,44));*/
    background: var(--dark-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bar .phase-text {
    display: block;
    width: 100%;
    font-size: calc(var(--bar-height) * 0.35 * 0.55);
    height: calc(var(--bar-height) * 0.35 * 0.55);
    line-height: calc(var(--bar-height) * 0.35 * 0.55);
    text-align: center;

    /*background-image: linear-gradient(#FFFFFF, rgb(129,129,129));*/
    background: var(--light-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bar .big-text {
    display: block;
    width: 100%;
    line-height: var(--bar-big-text-size);
    font-size: var(--bar-big-text-size);
    height: var(--bar-big-text-size);
    text-align: center;
}

#bar .blue.text {
    margin: var(--bar-blue-text-margin);
    background-color: var(--bar-blue-text-bg-color);
}
#bar .red.text {
    margin: var(--bar-red-text-margin);
    background-color: var(--bar-red-text-bg-color);
}

.picks {
    position: absolute;
    top: 183px;
    width: 400px;
    height: 690px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: var(--debug-color-green);
}
.picks.red {
    left: 1520px;
}

.picks .pick {
    height: 130px;
    width: 100%;
    background-color: var(--pick-background-color);
}

.picks .pick .splash {
    width: 100%;
    height: 100px;
}

.picks .pick .textwrapper .text {
    /*background-image: linear-gradient(#FFFFFF, rgb(129,129,129));*/
    background: var(--light-color);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 24px;

    margin: 0 10px;
}

.picks .pick .textwrapper{
    background-color: var(--pick-text-background-color);
    height: 30px;
}

.picks.blue .pick .text {
    text-align: right;
}

.picks .pick .splash {
    overflow: hidden;
}
.picks .pick .splash img {
    display: block;
    height: auto !important;
    width: 100%;
    overflow: hidden;
    margin-top: -25px;
}

.bans {
    position: absolute;
    top: 900px;
    width: 720px;
    height: 130px;

    margin: 0 45px;

    display: flex;
    justify-content: space-between;

    overflow: hidden;

    background-color: var(--debug-color-green);
}
.bans.red {
    left: 1110px;
    flex-direction: row-reverse;
}

.bans .ban {
    overflow: hidden;
    transform: rotate(-15deg);
    height: 200px;
    width: 110px;
    margin-top: -25px;
    background-color: var(--ban-background-color);
}
.bans.red .ban {
    transform: rotate(15deg);
}

.bans .ban .splash {
    width: 110px;
    height: 200px;
}

.bans .ban .splash img {
    width: 200px;
    height: auto;

    margin-top: 0px;
    margin-left: -75px;
}
.bans .ban .textwrapper .text {
    background: var(--light-color);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bans .ban .textwrapper {
    background-color: var(--ban-text-background-color);
    padding-left: 30px;
    padding-right: 30px;
    height: 25px;
    margin-top: -65px;
    width: 110px;
    margin-left: -20px;
}
.bans.red .ban .textwrapper {
    transform: rotate(-15deg);
    margin-top: -70px;
}
.bans.blue .ban .textwrapper {
    transform: rotate(15deg);
}

.bans.red .ban .splash img {
    margin-top: 0px;
    margin: -25px;
    /*margin-left: -182px;*/
}

.bans.blue .ban:first-child {
    margin-left: 25px;
}
.bans.blue .ban:last-child {
    margin-right: 35px;
}
.bans.blue .ban:nth-child(3) {
    margin-right: 30px;
}
.bans.red .ban:first-child {
    margin-right: 25px;
}
.bans.red .ban:last-child {
    margin-left: 35px;
}
.bans.red .ban:nth-child(3) {
    margin-left: 30px;
}

.bans.blue .ban .splash img {
    transform: rotate(15deg);
}
.bans.red .ban .splash img {
    transform: rotate(-15deg);
}

#championsearchwrapper {
    position: absolute;
    top: 183px;
    width: 1020px;
    height: 690px;
    left: 450px;

    overflow-y: scroll;

    background-color: var(--debug-color-green);
}

#championsearchwrapper .champion {
    float: left;
    height: 120px;
    
}
